# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# macOS specific artifacts
/macos/Flutter/ephemeral/
/macos/Flutter/Flutter.podspec
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Pods/
/macos/build/
/macos/Flutter/Flutter.xcworkspace/
/macos/Flutter/Flutter.xcodeproj/
/macos/Flutter/Flutter.framework/
/macos/Flutter/App.framework/
/macos/Flutter/flutter_export_environment.sh

# Windows specific artifacts
/windows/Flutter/ephemeral/
/windows/build/
/windows/runner/Debug/
/windows/runner/Release/
/windows/runner/GeneratedPluginRegistrant.cc
/windows/flutter/GeneratedPluginRegistrant.h
/windows/flutter/GeneratedPluginRegistrant.cpp
/windows/flutter/flutter_export_environment.cmake